<div class='container'> 
<div>
    <div class="col-sm-12 col-lg-12">
    
    <h2>Administrators</h2>
   
    </div>
    </div>
    
    
</div>


<div class='container'> 
<div class="row">
    <div class="col-sm-12 col-lg-12" >
            <h2>
        Customers
        </h2>
        
    <li class="media" ng-repeat="customer in customers ">
                    
                    <div class="media-body">
                        <h2 class="media-heading">{{customer.name}}
                        
                        </h2>
                        <h2>{{customer.username}}</h2>
                        <h2>{{customer.cellnumber}}</h2>>
                        <h2>{{customer.address}}</h2>
                        <h2>{{customer.email}}</h2>
                    </div>
                </li>
        
    </div>
    </div>
</div>